// nextflow.config

// groovy e il linguaggio su cui si basa nextflow
// in questo caso se si vogliono utilizzare commenti si utilizza doppio slash al posto degli asterischi

// Enable DSL2 syntax globally
nextflow.enable.dsl=2

process {
    executor = 'local' // definisce l'ambiente, ad esempio "slurm" o "awsbatch" oppure "local"
    cpus = 2           // CPU per processo
    memory = '4 GB'    // memoria per processo
}

docker {
    enabled = true    // true se vuoi usare docker
    fixOwnership = true
}

params {
    // definisce eventuali parametri di default per il workflow
    myParam = 'default_value'
}

profiles {
    standard {
        process.executor = 'local'
    }

    // definisci qui altri profili, ad esempio per diversi ambienti di esecuzione
}

